@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */


body {
    background: #f1f1f1;
    font-family: 'Lexend Deca', sans-serif;
}

.main .sidebarWrapper {
    height: 100vh;
}

.main .sidebarWrapper .sidebar {
    height: 100vh;
    background: #fff;
}

.main .sidebarWrapper .sidebar .sidebarTabs Button {
    color: #4F4F4F !important;
    font-weight: 600;
    border-radius: 0px;
}

.main .sidebarWrapper .sidebar .sidebarTabs Button svg {
    font-size: 20px;
}

.main .sidebarWrapper .sidebar .sidebarTabs ul li Button {
    margin-top: 12px;
    text-transform: capitalize;
}

.main .sidebarWrapper .sidebar .sidebarTabs Button:hover {
    background: #f1f1f1;
}